{% extends "base.html" %}
{% block title %} Ciudad {{ciudad|formato_nombre_ciudad}} {% endblock %}
{% block content %}



<div id="caja_resumen" class="contenedor">

    <div id="caja">
        <h1>Ciudad {{ciudad|formato_nombre_ciudad}}</h1>
    </div>

    <div id="caja">
        <h1> hoy {{dia}}   </h1> 
    </div>
</div>
<br>


<div style="text-align: center">
    
    <img src="/plot/{{ciudad}}" alt="my plot2" width="800" height="500" >
    <p>conteo ciudad {{dato/5}}</p>
</div>

{% endblock %}





